body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    display: flex;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.image-container {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    flex: 1;
}

.tab.active {
    background-color: rgba(45, 172, 143, 1);
}

.tab:not(.active) {
    background-color: #555;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.terms-conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.register-button {
    width: 100%;
    padding: 15px;
    background-color: rgba(45, 172, 143, 1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: rgba(45, 172, 143, 1);
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.login-text {
    text-align: center;
    margin-top: 20px;
}

.login-link {
    color: #555;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: none;
}
.home-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black; /* Or any color you prefer for the text */
    font-size: 16px; /* Adjust size as needed */
    padding: 5px;

}

.home-icon {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-right: 5px; /* Space between icon and text */
}

.home-button:hover {
    text-decoration: underline; /* Adds underline on hover */
}